.pagina-chamada-api {
    .correio {
        p {
            margin-top: 50px;
            font: 500 24px 'Poppins', sans-serif;
        }
    }

    .omdb {
        table {
            margin-top: 50px;
            width: 100%;

            th {    
                font-weight: bold;
                text-align: left;    
            }

            .color:hover{
                background-color: #1267c7;
                color: white;
            
            }

        }
    }
}