.pagina-contato {
  
    .voltar {
        font-size: 22px;
    }
    
    .icone{
    width: 150px;


    }
    .cabeçalho{
        display: flex;
        gap: 15px;
        align-items: center;
    }

}