.comp-contador{
    border: 1px dashed #585858;
    padding: 20px;
    display: inline-block;
   
    text-align: center;
    margin: 0px 10px;
    .cont{
        display: flex;
        align-items: center;
        gap: 15px;
        font: 700 28px "Poppins";
       
    }
    
}