.pagina-rende-cond{
    .seçao{
  
    .msg{
        font: 600 28px "Poppins";
        text-align: center;
        margin: 20px;
        font-style: italic;
    }
}

.filmes{

    display: flex;
    flex-direction: column;
    gap: 20px;
  
  
  .entradas {
    display: flex;
    flex-direction: column;
    gap: 10px;

    button {
      
        width: 27%;
    
      }
  }
      
      .lista {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
      }
}





}