@import url('https://fonts.googleapis.com/css2?family=Noticia+Text:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  margin: 0px;
  box-sizing: border-box;
  font-family: "Roboto";
  font-weight: 500;


}

a,a:visited{
  text-decoration: none;
  color: inherit;
}

.pagina {

  background-color: #F5F6FA;
  min-height: 100vh;

  .cabeçalho {
    background-color: #fff;
    padding: 30px 60px;

    h1 {
      color: #606060;
      font: 600 36px "Poppins";

    }
  }

  .seçao {
    background-color: #fff;
    padding: 40px;
    box-shadow: 0px 0px 15px 2px #f1f1f1;
    margin: 40px 60px;
    border-radius: 5px;
    max-width: 1000px;
    font: 400 20px "Poppins";

    h1 {
      color: #404040;
      margin-bottom: 20px;
    }

    input,select {
      font: 400 20px "Poppins";
      border: 1px solid #dfdfdf;
      width: 400px;
      border-radius: 5px;
      padding: 10px;
      outline: none;
      color: #606060;

    }


    button {
      background-color: #0084f0;
      font: 500 20px "Poppins";
      color: #ffffff;
      border: 1px solid #000000;
      border-radius: 5px;
      padding: 10px 30px;
      outline: none;
    }
  }
}